/* *===============
   *     Fonts
   *=============== */

@font-face {
   font-family: "JetBrains Mono";
   src: url(../assets/fonts/JetBrainsMono-Regular.woff2) format("woff2-variations");
   font-weight: 100 800;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "JetBrains Mono";
   src: url(../assets/fonts/JetBrainsMono-Italic.woff2) format("woff2-variations");
   font-weight: 100 800;
   font-style: italic;
   font-display: swap;
}

/* *===============
   * Global styles
   *=============== */

:root {
   --text: #112244;
   --background: #dcdcdc;
   --primary: #1b3c7e;
   --secondary: #303e5a;
   --accent: #1b3c7e;
}

* {
   box-sizing: border-box;
   background-color: var(--background);
   font-family: "JetBrains Mono", monospace;
   transition: color, 0.25s;
   border-radius: 5px;
   text-align: center;
}

html,
body {
   font-size: 1.5rem;
   color: var(--text);
}

.flex-centred {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* * Font Awesome */

i.fa-regular,
i.fa-solid {
   background: transparent;
   font-size: 1rem;
}

/* *===============
   * Typography
   *=============== */

h1 {
   font-weight: 600;
   font-style: italic;
   text-transform: uppercase;
   margin: 20px;
   border-bottom: 4px solid var(--accent);
   border-radius: 0;
   padding-bottom: 5px;
}

/* *===============
   * All inputs
   *=============== */

input {
   font-size: 1rem;
   padding: 5px;
   border: none;
   background-color: var(--primary);
   color: var(--background);

   &:focus {
      outline: transparent;
   }
}


/* *===============
   * Mode selectors
   *=============== */

.mode-selector {
   height: 50px;
   aspect-ratio: 1;
}

input[type="button"]:hover {
   transform: translate(0px, -5px);
   cursor: pointer;
}

.selected-button {
   background: var(--secondary);
}

#mode-buttons {
   margin: 10px;
}

/* *===============
   * Words to type
   *=============== */

#words-to-type-container {
   user-select: none;
   font-size: 1.5rem;
   color: var(--background);
   background: var(--secondary);
   margin: 10px;
   padding: 10px;
   height: 5.25rem;
   overflow: hidden;
   text-align: left;
}

.word {
   width: fit-content;
   float: left;
   padding: 2px;
   margin: 0 5px 5px 0;
   background: transparent;

   &.current-word {
      background: var(--background);
      color: var(--text);
   }

   &.incorrect {
      background: #b53c3c;
      color: var(--background);
   }
}



/* *===============
   * Typing box
   *=============== */

#typing-box {
   font-size: 1.5rem;
   color: var(--text);
   border: 4px solid var(--accent);
   background: transparent;
   text-align: left;
   padding: 10px;
   width: 250px;
   height: 3rem;
   margin: 10px;
   outline: transparent;
}

/* *===============
   *     Stats
   *=============== */

.stats {
   height: 50px;
   font-size: 1rem;
   margin: 0;
}

.stat {
   color: var(--background);
   background: var(--accent);
   height: 100%;
   margin-inline: 5px;
   justify-content: space-evenly;
   font-weight: 500;
}

#wpm-wrapper {
   aspect-ratio: 3;
}

#timer-wrapper {
   float: left;
   aspect-ratio: 2;
}

#timer,
#wpm {
   background: transparent;
}
